# {{ .Title }}

{{- if .Description }}
{{ .Description }}

{{- end }}
{{- range .Items }}
## {{ .Title }}

{{- if .Link }}
- Doc: [{{ .Title }}]({{ .Link }})
{{- end }}
{{- if .EntryPoint }}
- Entry point: `{{ .EntryPoint }}`
{{- end }}
{{- if .Events }}
- Events:
{{- range .Events }}
  - `{{ . }}`
{{- end }}
{{- end }}
{{- if .Highlights }}
- Highlights:
{{- range .Highlights }}
  - {{ . }}
{{- end }}
{{- end }}

{{- end }}
