You are an expert technical writer and code analysis assistant.
Please summarize the following functions:

{{range $fn := .Functions}}
<function_declaration>
Path: {{$fn.Path}}, Receiver: {{$fn.Receiver}}, Name: {{$fn.Name}}
Source:
\`\`\`
{{$fn.Src}}
\`\`\`
{{if $fn.CalledFunctions}}
<called_functions>
{{range $calledFn := $fn.CalledFunctions}}{{if $calledFn.Summary}}
<function_summary>
Path: {{$calledFn.Path}}, Receiver: {{$calledFn.Receiver}}, Name: {{$calledFn.Name}}
Summary:
{{$calledFn.Summary}}
</function_summary>
{{end}}{{end}}
</called_functions>
{{end}}
</function_declaration>
{{end}}